@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Custom properties */
:root {
  --color-prim: #181818;
  --color-sec: #f0f0f0;
  --typo-prim: 'Poppins', sans-serif;
  --typo-sec: Helvetica, Arial, sans-serif;
}

/* Dark scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --color-prim: #f0f0f0;
    --color-sec: #181818;
  }
}

/* Box model */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-size: 100%;
  font-family: var(--typo-prim);
  color: var(--color-prim);
  background-color: var(--color-sec);
  line-height: 1.4em;
  font-weight: 400;
}

/* Images, videos and frames */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Hyperlinks */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* Except hyperlinks within a paragraph */
p a {
  display: inline;
}

/* Reset lists styles */
li {
  list-style-type: none;
}

/* Reset main text tags */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Forms */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
